@tailwind base;
@tailwind components;
@tailwind utilities;
#wrapper-body{
  max-width: 100vw;
}

.attraction-card:hover{
  padding-bottom: 2em;
}

.cus_max_75vh{
  max-height: 75vh ;
}

.cus_max_25vh{
  max-height: 25vh ;
}

/* Define the initial state of the side nav */
.side-nav {
  position: fixed;
  right: -100%;
  top: 0;
  opacity: 0;
  width: 50vw;
  height: 100%;
  background-color: white;
  z-index: 50;
}

/* Define the animation */
.side-nav.show {
   opacity: 1;
  animation: slide-in 0.7s forwards;
}

.side-nav.close {
  opacity: 1;
 animation: slide-out  0.7s forwards;
}


/* Define the slide-in animation */
@keyframes slide-in {
 
  0% {
    /* Start the side nav off-screen to the right */
    right: -100%;
  }
  100% {
    right: 0%;
    /* End the side nav at the right edge of the screen */
  }
}

/* Define the slide-in animation */
@keyframes slide-out {
  0% {
    right: 0%;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}


/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}